obj
/MonitorSuprnova/.vs/MonitorSuprnova
/MonitorSuprnova/DataAccess/bin/Debug
/MonitorSuprnova/ModelShare_Core/bin/Debug/netcoreapp2.1
/MonitorSuprnova/MonitorSuprnova_Console/bin/Debug
/MonitorSuprnova/MonitorSurpnova_WS/bin/Debug
